/* This stylesheet has been embedded in the core code of SuiteCRM

Location: /public_html/include/SugarTheme/SugarTheme.php

*/
/*================================
Universal
================================*/
@font-face {
    font-family: biosansreg;
    src: url(https://techsupport.eitidc.com/files/flat-it_-_biosans-regular.woff);
}

@font-face {
    font-family: biosansbold;
    src: url(fonts/flat-it_-_bio_sans_bold.woff);
}

/* Body */
body {
    font-family: biosansreg, sans-serif;
}

/* All tables within the body */
body table td {
    font-size: 120%;
}

/* Suite CRM top menu bar at login */
div.p_login .p_login_top {
    background: #003A70;
}


/*================================
Navbar
================================*/
/* Logged in navbar */
.navbar-inverse {
    background: #003A70;
}

/* Alert button on navbar */
button.alertsButton.btn.dropdown-toggle.suitepicon.suitepicon-action-alerts.btn-success {
    background: #003A70;
}

/* Admin button on Navbar */
.globalLinks-desktop .user-menu-button {
    background: #003A70;
}

/* Hover effect of top menu */
.topnav:hover {
    background: #003A70;
}

/* Inside hover effect of top menu */
.navbar-inverse .nav > .topnav > span.notCurrentTab > a:hover {
    background: #003A70;
}

/* Drop down menu hover */
ul.dropdown-menu {
    background: #003A70 !important;
}

/* Each drop menu item in hover */
.navbar-inverse .dropdown-menu li a {
    background: #003A70;
}


/*================================
Misc
================================*/
/* Main navbar */
/* .navbar-inverse {
    background: #003A70;
}
*/
/* Increased space below labels */
.edit-view-row .label {
    padding-bottom: 7px;
}

/* Loading page module */
#loadingPage {
    z-index: 11 !important;
    padding: 10px;
}

/* Custom styles for compose button */
.nav-tabs .email-link {
    background: #003A70;
    padding: 7px;
    color: white;
    border-radius: 3px;
}
